{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container text-center">
		<img src="images/design/codeDesign.png" alt="logo">
	</div>
{% endblock %}
